{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
<h1> Détail plat {{ plat.NomPlat}} </h1><br/>
<h3> Nombre de plat {{ plat.NbrePlat}} </h3>
<h3> Date de fabrication {{ plat.DatePrepare |date('d/m/Y')}} </h3>
<div class="row">
<div class="col-md-8">
<h3>Liste des aliments utilisés  </h3>
<table class="table table-striped">
<thead>
<tr>
    <th> Aliment</th>
    <th>Quantité utilisée (kg)</th>
</tr>
</thead>
<tbody>
  
 {%   for aliment in aliments %}
   <tr> 
       <td>{{ aliment.NomAliment}} </td>
       <td>{{ aliment.QteUtilise}} </td>
  </tr>
  {% endfor %}
</tbody>
</table>  
<div class="float-right">
          <form method="post" action="{{path('platsPrepares')}}"  >
             <button class="btn btn-success"> Revenir à la liste </button>
          </form>
          </div>
 </div>

 <div class="float-right">
          <form method="post" action="{{path('platsPrepares')}}"  >
             <button class="btn btn-success"> Voir la tracabilité </button>
          </form>
          </div>
 </div>
 </div>
<div class="col-md-4">
<img src="{{asset('img/strawberry.webp')}}" width="450" heigth="450">
</div>
 </div> 
</div>

{% endblock %}